* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Sometype Mono', monospace;
   }

.EnterWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    transform: translate(-50%, -80%);
    background-color: white;
    border-radius: 20px;
}

.Join {
    text-align: center;
    font-size: 40px;
}

.enter {
    background-color: black;
    outline: 2px solid white;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 6px;
    font-size: 20px;
}

.enter:hover {
    background-color: white;
    outline: 2px solid black;
    color: black;
    transition: 0.2s;

}

.enter:active {
    outline: 2px solid white;
}

.input {
    display: block;
    border: 2px solid #000;
    border-radius: 6px;
    margin-top: 10px;
    background-color: white;
    width: 400px;
    height: 35px;
    font-size: 22px;
    padding-left: 5px;
}

.GoToLogin {
    display: flex;
    margin-top: 10px;
    margin-left: 88%;
}

.Join {
    margin-top: 20px;
}
